<!-- https://www.compart.com/en/unicode/U+1F589 -->

<div class="container">
    <app-track-modal #modal></app-track-modal>
    <div class="btn-container">
        <button (click)="openModal()">Open Modal</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Track/Artist</th>
                <th>Album</th>
                <th>Time</th>
                <th>Plays</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            <tr class="track-content">
                <td class="col-one">
                    <span> 01 </span>
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mejores-discos-pop-bruno-mars-1626191751.jpg?crop=1xw:1xh;center,top&resize=480:*"
                        alt="" srcset="">
                </td>
                <td>
                    <div class="col-two">
                        <span>Name Artist</span>
                        <span>Name Artist</span>
                    </div>
                </td>
                <td>Name Album</td>
                <td>4:52</td>
                <td>36585</td>
                <td>
                    <span>🖉</span>
                    <span>🗑</span>
                </td>
            </tr>
            <tr class="track-content">
                <td class="col-one">
                    <span> 01 </span>
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mejores-discos-pop-bruno-mars-1626191751.jpg?crop=1xw:1xh;center,top&resize=480:*"
                        alt="" srcset="">
                </td>
                <td>
                    <div class="col-two">
                        <span>Name Artist</span>
                        <span>Name Artist</span>
                    </div>
                </td>
                <td>Name Album</td>
                <td>4:52</td>
                <td>36585</td>
                <td>
                    <span>🖉</span>
                    <span>🗑</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>