<div class="tabs">
    <div class="tab">
        <label for="tab-1" class="label-text">Music Management</label>
    </div>
    <div class="tab">
        <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
        <label for="tab-1" class="tab-label">Track</label>
        <div class="tab-content">
            <app-track></app-track>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
        <label for="tab-2" class="tab-label">Genre</label>
        <div class="tab-content">
            <app-genre></app-genre>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
        <label for="tab-3" class="tab-label">Album</label>
        <div class="tab-content">
            <app-album></app-album>
        </div>
    </div>
</div>