<div class="tabs">
    <div class="tab">
        <label for="tab-1" class="label-text">Top Songs</label>
    </div>
    <div class="tab">
        <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
        <label for="tab-1" class="tab-label">Today</label>
        <div class="tab-content">
            <app-track></app-track>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
        <label for="tab-2" class="tab-label">Week</label>
        <div class="tab-content">
            Tab 2
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
        <label for="tab-3" class="tab-label">Month</label>
        <div class="tab-content">
            Tab 3
        </div>
    </div>
</div>