<!-- https://unicode-table.com/en/sets/heart-symbols/ -->
<!-- &#9829; -->
<!-- &#10084; -->
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Track/Artist</th>
            <th>Album</th>
            <th>Time</th>
            <th>Plays</th>
            <th>Add</th>
        </tr>
    </thead>
    <tbody>
        <tr class="track-content">
            <td class="col-one">
                <span> 01 </span>
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mejores-discos-pop-bruno-mars-1626191751.jpg?crop=1xw:1xh;center,top&resize=480:*"
                    alt="" srcset="">
                <span> &#9654; </span>
            </td>
            <td >
                <div class="col-two">
                    <span>Name Artist</span>
                    <span>Name Artist</span>
                </div>
            </td>
            <td>Name Album</td>
            <td>4:52</td>
            <td>36585</td>
            <td>&#9825;</td>
        </tr>
        <tr class="track-content">
            <td class="col-one">
                <span> 01 </span>
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mejores-discos-pop-bruno-mars-1626191751.jpg?crop=1xw:1xh;center,top&resize=480:*"
                    alt="" srcset="">
                <span> &#9654; </span>
            </td>
            <td >
                <div class="col-two">
                    <span>Name Artist</span>
                    <span>Name Artist</span>
                </div>
            </td>
            <td>Name Album</td>
            <td>4:52</td>
            <td>36585</td>
            <td>&#9825;</td>
        </tr>
    </tbody>
</table>