<nav class="navbar">
    <div class="navbar__content">
        <div class="block_menu">
            <div class="logo">
                <a href="#">Music</a>
            </div>
            <ul class="menu-list">
                <div class="icon btn-close">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="#">News</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Event</a></li>
                <li><a href="#">Radio</a></li>
                <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>

            </ul>
        </div>
        <div class="block_elements">
            <input type="text" placeholder="Search">
            <button class="btn btn-login">Log In</button>
        </div>
    </div>

</nav>
