<div class="albums">
    <div class="albums__title">New album</div>
    <div class="albums__cards">
        <div class="card">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mejores-discos-pop-bruno-mars-1626191751.jpg?crop=1xw:1xh;center,top&resize=480:*"
                alt="" srcset="">
            <div class="title-album">Doo-woos & hooligans</div>
            <div class="singer-album">Bruno Mars</div>
        </div>

        <div class="card">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mejores-discos-pop-bruno-mars-1626191751.jpg?crop=1xw:1xh;center,top&resize=480:*"
                alt="" srcset="">
            <div class="title-album">Doo-woos & hooligans</div>
            <div class="singer-album">Bruno Mars</div>
        </div>
        <div class="card">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mejores-discos-pop-bruno-mars-1626191751.jpg?crop=1xw:1xh;center,top&resize=480:*"
                alt="" srcset="">
            <div class="title-album">Doo-woos & hooligans</div>
            <div class="singer-album">Bruno Mars</div>
        </div>
        <div class="card">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mejores-discos-pop-bruno-mars-1626191751.jpg?crop=1xw:1xh;center,top&resize=480:*"
                alt="" srcset="">
            <div class="title-album">Doo-woos & hooligans</div>
            <div class="singer-album">Bruno Mars</div>
        </div>
       
    </div>
</div>